# nrfbig board configuration

# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config BOARD_NRFBIG_11
    bool "nrfbig_11"
    depends on SOC_NRF52840_QIAA

config BOARD_NRFBIG_11_FLIPPED
    bool "nrfbig_11_flipped"
    depends on SOC_NRF52840_QIAA

config BOARD_NRFBIG_13
    bool "nrfbig_13"
    depends on SOC_NRF52840_QIAA

config BOARD_NRFBIG_13_52833
    bool "nrfbig_13_52833"
    depends on SOC_NRF52833_QIAA
