if SHIELD_ELKHORN_LEFT

config ZMK_KEYBOARD_NAME
    default "Elkhorn"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ELKHORN_LEFT || SHIELD_ELKHORN_RIGHT

config ZMK_SPLIT
    default y

endif
